
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bookings Management</title>
    <link href="<%= baseUrl %>/assets/libs/flatpickr/flatpickr.min.css" rel="stylesheet" type="text/css" />
    <link href="<%= baseUrl %>/assets/libs/selectize/css/selectize.bootstrap3.css" rel="stylesheet" type="text/css" />
    <%- include('comman/head-css') %>
</head>
<body>
    <div id="wrapper">
        <%- include ('comman/sidenav') %>
            <div class="content-page">
                <%- include ('comman/topbar') %>
                    <div class="content">
                        <div class="container-fluid my-4">
                            <div class="row mt-2">
                                <h3>BOOKINGS</h3>
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-body">                                            
                                            <table id="basic-datatable" class="table dt-responsive nowrap w-100">
                                                <thead>
                                                    <tr>
                                                        <th>User Name</th>
                                                        <th>Last Name</th>
                                                        <th>Email ID</th>
                                                        <th>Password</th>
                                                        <th>Created Date</th>
                                                        <th>Operation</th>
                                                    </tr>
                                                </thead>
                        
                                                <tbody>
                                                    <tr>
                                                        <td>Tiger Nixon</td>
                                                        <td>System Architect</td>
                                                        <td>Edinburgh</td>
                                                        <td>61</td>
                                                        <td>2011/04/25</td>
                                                        <td>$320,800</td>
                                                        <td>
                                                            <button type="button" class="btn btn-danger">DELETE
                                                                <i class=" fas fa-trash-alt"></i>
                                                            </button>
                                                            <a href="" class="btn btn-info">EDIT
                                                                <i class="fas fa-edit"></i>
                                                            </a>  
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                        
                                        </div>
                                        <!-- end card body-->
                                    </div>
                                    <!-- end card -->
                                </div>
                                <!-- end col-->
                            </div>
                        </div>
                    </div>
            </div>
                <%- include ('comman/footer') %>
    </div>
    <%- include ('comman/footer-scripts') %>
    <script src="<%= baseUrl %>/assets/libs/flatpickr/flatpickr.min.js"></script>
    <script src="<%= baseUrl %>/assets/libs/apexcharts/apexcharts.min.js"></script>
    <script src="<%= baseUrl %>/assets/libs/selectize/js/standalone/selectize.min.js"></script>

    <!-- Dashboar 1 init js-->
    <script src="<%= baseUrl %>/assets/js/pages/dashboard-1.init.js"></script>
</body>
</html>