
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bookings Management</title>
    <link href="<%= baseUrl %>/assets/libs/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
    <link href="<%= baseUrl %>/assets/libs/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
    <link href="<%= baseUrl %>/assets/libs/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
    <link href="<%= baseUrl %>/assets/libs/datatables.net-select-bs5/css//select.bootstrap5.min.css" rel="stylesheet" type="text/css"/>
    <link href="<%= baseUrl %>/assets/libs/flatpickr/flatpickr.min.css" rel="stylesheet" type="text/css" />
    <link href="<%= baseUrl %>/assets/libs/selectize/css/selectize.bootstrap3.css" rel="stylesheet" type="text/css" />
    <%- include('common/head-css') %>
</head>
<body>
    <div id="wrapper">
        <%- include ('common/sidenav') %>
            <div class="content-page">
                <%- include ('common/topbar') %>
                    <div class="content">
                        <div class="container-fluid my-4">
                            <div class="row mt-2">
                                <h3>BOOKINGS</h3>
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-body">                                            
                                            <table id="basic-datatable" class="table dt-responsive nowrap w-100">
                                                <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th></th>
                                                        <th></th>
                                                        <th></th>
                                                        <th></th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                        
                                                <tbody>
                                                </tbody>
                                            </table>
                        
                                        </div>
                                        <!-- end card body-->
                                    </div>
                                    <!-- end card -->
                                </div>
                                <!-- end col-->
                            </div>
                        </div>
                    </div>
            </div>
                <%- include ('common/footer') %>
    </div>
    <%- include ('common/footer-scripts') %>
    <script src="<%= baseUrl %>/assets/libs/flatpickr/flatpickr.min.js"></script>
    <script src="<%= baseUrl %>/assets/libs/apexcharts/apexcharts.min.js"></script>
    <script src="<%= baseUrl %>/assets/libs/selectize/js/standalone/selectize.min.js"></script>

    <!-- Dashboar 1 init js-->
    <script src="<%= baseUrl %>/assets/js/pages/dashboard-1.init.js"></script>
    <!--including files for responsive table-->
	<script src="<%= baseUrl %>/assets/libs/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
    <script src="<%= baseUrl %>/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
	<script src="<%= baseUrl %>/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
	<script src="<%= baseUrl %>/assets/libs/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js"></script>
	<script src="<%= baseUrl %>/assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
	<script src="<%= baseUrl %>/assets/libs/datatables.net-buttons-bs5/js/buttons.bootstrap5.min.js"></script>
	<script src="<%= baseUrl %>/assets/libs/datatables.net-buttons/js/buttons.html5.min.js"></script>
	<script src="<%= baseUrl %>/assets/libs/datatables.net-buttons/js/buttons.flash.min.js"></script>
	<script src="<%= baseUrl %>/assets/libs/datatables.net-buttons/js/buttons.print.min.js"></script>
	<script src="<%= baseUrl %>/assets/libs/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
	<script src="<%= baseUrl %>/assets/libs/datatables.net-select/js/dataTables.select.min.js"></script>
	<script src="<%= baseUrl %>/assets/libs/pdfmake/build/pdfmake.min.js"></script>
	<script src="<%= baseUrl %>/assets/libs/pdfmake/build/vfs_fonts.js"></script>
</body>
</html>