<!DOCTYPE html>
<html lang="en" data-topbar-color="dark">
<head>
    <%- include('comman/title-meta') %>
    <link href="<%= baseUrl %>/assets/libs/flatpickr/flatpickr.min.css" rel="stylesheet" type="text/css" />
    <link href="<%= baseUrl %>/assets/libs/selectize/css/selectize.bootstrap3.css" rel="stylesheet" type="text/css" />
    <%- include('comman/head-css') %>
</head>
<body>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> -->

    <div id="wrapper">
        <%- include ('comman/sidenav') %>
            <div class="content-page">
                <%- include ('comman/topbar') %>
                    <div class="content">
                        <div class="container-fluid">

                            <div class="row">
                                <div class="col-12">
                                    <div class="page-title-box">
                                        <div class="page-title-right">
                                            <form class="d-flex align-items-center mb-3">
                                                <div class="input-group input-group-sm">
                                                    <input type="text" class="form-control border" id="dash-daterange">
                                                    <span class="input-group-text bg-blue border-blue text-white">
                                                        <i class="mdi mdi-calendar-range"></i>
                                                    </span>
                                                </div>
                                                <a href="javascript: void(0);" class="btn btn-blue btn-sm ms-2">
                                                    <i class="mdi mdi-autorenew"></i>
                                                </a>
                                                <a href="javascript: void(0);" class="btn btn-blue btn-sm ms-1">
                                                    <i class="mdi mdi-filter-variant"></i>
                                                </a>
                                            </form>
                                        </div>
                                        <h4 class="page-title">Dashboard</h4>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 col-xl-4">
                                    <div class="widget-rounded-circle card">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-6">
                                                    <div
                                                        class="avatar-lg rounded-circle bg-danger border-info border">
                                                        <i class="fe-user font-22 avatar-title text-info"></i>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="text-end">
                                                        <h3 class="text-dark mt-1">
                                                            <span data-plugin="counterup">58,947</span>
                                                        </h3>
                                                        <p class="text-muted mb-1 text-truncate">Total Users</p>
                                                    </div>
                                                </div>
                                            </div> <!-- end row-->
                                        </div>
                                    </div> <!-- end widget-rounded-circle-->
                                </div> <!-- end col-->

                                <div class="col-md-6 col-xl-4">
                                    <div class="widget-rounded-circle card">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-6">
                                                    <div
                                                        class="avatar-lg rounded-circle bg-soft-success border-success border">
                                                        <i class="fe-arrow-up font-22 avatar-title text-success"></i>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="text-end">
                                                        <h3 class="text-dark mt-1">
                                                            <span data-plugin="counterup">127</span>
                                                        </h3>
                                                        <p class="text-muted mb-1 text-truncate">Total Bookings</p>
                                                    </div>
                                                </div>
                                            </div> <!-- end row-->
                                        </div>
                                    </div> <!-- end widget-rounded-circle-->
                                </div> <!-- end col-->

                                <div class="col-md-6 col-xl-4">
                                    <div class="widget-rounded-circle card">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-6">
                                                    <div
                                                        class="avatar-lg rounded-circle bg-soft-info border-info border">
                                                        <i
                                                            class="fe-arrow-down font-22 avatar-title text-info"></i>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="text-end">
                                                        <h3 class="text-dark mt-1">
                                                            <span data-plugin="counterup">0</span>
                                                        </h3>
                                                        <p class="text-muted mb-1 text-truncate">Total Cancels</p>
                                                    </div>
                                                </div>
                                            </div> <!-- end row-->
                                        </div>
                                    </div> <!-- end widget-rounded-circle-->
                                </div> <!-- end col-->

                               
                            <!-- end row-->

                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="dropdown float-end">
                                                <a href="#" class="dropdown-toggle arrow-none card-drop"
                                                    data-bs-toggle="dropdown" aria-expanded="false">
                                                    <i class="mdi mdi-dots-vertical"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-end">
                                                    <!-- item-->
                                                    <a href="javascript:void(0);" class="dropdown-item">Sales Report</a>
                                                    <!-- item-->
                                                    <a href="javascript:void(0);" class="dropdown-item">Export
                                                        Report</a>
                                                    <!-- item-->
                                                    <a href="javascript:void(0);" class="dropdown-item">Profit</a>
                                                    <!-- item-->
                                                    <a href="javascript:void(0);" class="dropdown-item">Action</a>
                                                </div>
                                            </div>

                                            <h4 class="header-title mb-0">Total Revenue</h4>

                                            <div class="widget-chart text-center" dir="ltr">

                                                <div id="total-revenue" class="mt-0" data-colors="#f1556c"></div>

                                                <h5 class="text-muted mt-0">Total sales made today</h5>
                                                <h2>29,000₹</h2>

                                                <p class="text-muted w-75 mx-auto sp-line-2">Traditional heading
                                                    elements are designed to work best in the meat of your page content.
                                                </p>

                                                <div class="row mt-3">
                                                    <div class="col-4">
                                                        <p class="text-muted font-15 mb-1 text-truncate">Target</p>
                                                        <h4><i class="fe-arrow-down text-danger me-1"></i>10,000₹</h4>
                                                    </div>
                                                    <div class="col-4">
                                                        <p class="text-muted font-15 mb-1 text-truncate">Last week</p>
                                                        <h4><i class="fe-arrow-up text-success me-1"></i>4,000₹</h4>
                                                    </div>
                                                    <div class="col-4">
                                                        <p class="text-muted font-15 mb-1 text-truncate">Last Month</p>
                                                        <h4><i class="fe-arrow-down text-danger me-1"></i>15,000₹</h4>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div> <!-- end card -->
                                </div> <!-- end col-->

                                <div class="col-lg-8">
                                    <div class="card">
                                        <div class="card-body pb-2">
                                            <div class="float-end d-none d-md-inline-block">
                                                <div class="btn-group mb-2">
                                                    <button type="button" class="btn btn-xs btn-light">Today</button>
                                                    <button type="button" class="btn btn-xs btn-light">Weekly</button>
                                                    <button type="button"
                                                        class="btn btn-xs btn-secondary">Monthly</button>
                                                </div>
                                            </div>

                                            <h4 class="header-title mb-3">Sales Analytics</h4>

                                            <div dir="ltr">
                                                <div id="sales-analytics" class="mt-4" data-colors="#1abc9c,#4a81d4">
                                                </div>
                                            </div>
                                        </div>
                                    </div> <!-- end card -->
                                </div> <!-- end col-->
                            </div>
                            <!-- end row -->


                        </div>
                    </div>

                    <%- include ('comman/footer') %>
            </div>
    </div>
    
    <%- include ('comman/footer-scripts') %>
    <!-- Plugins js-->
    <script src="<%= baseUrl %>/assets/libs/flatpickr/flatpickr.min.js"></script>
    <script src="<%= baseUrl %>/assets/libs/apexcharts/apexcharts.min.js"></script>
    <script src="<%= baseUrl %>/assets/libs/selectize/js/standalone/selectize.min.js"></script>

    <!-- Dashboar 1 init js-->
    <script src="<%= baseUrl %>/assets/js/pages/dashboard-1.init.js"></script>
    
</body>
</html>