
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>payment Management</title>
    <link href="<%= baseUrl %>/assets/libs/flatpickr/flatpickr.min.css" rel="stylesheet" type="text/css" />
    <link href="<%= baseUrl %>/assets/libs/selectize/css/selectize.bootstrap3.css" rel="stylesheet" type="text/css" />
    <%- include('common/head-css') %>
</head>
<body>
    <div id="wrapper">
        <%- include ('common/sidenav') %>
            <div class="content-page">
                <%- include ('common/topbar') %>
                    <div class="content">
                        <div class="container">
                            <h1>Payment</h1>
                        </div>
                    </div>
            </div>
                <%- include ('common/footer') %>
    </div>
    <%- include ('common/footer-scripts') %>
    <script src="<%= baseUrl %>/assets/libs/flatpickr/flatpickr.min.js"></script>
    <script src="<%= baseUrl %>/assets/libs/apexcharts/apexcharts.min.js"></script>
    <script src="<%= baseUrl %>/assets/libs/selectize/js/standalone/selectize.min.js"></script>

    <!-- Dashboar 1 init js-->
    <script src="<%= baseUrl %>/assets/js/pages/dashboard-1.init.js"></script>
</body>
</html>